// Design mobile first
$white: #ffffff;
$grey: #cccccc;
$black: #000000;
$main: #E0874C;
$text-color: $grey;
$bg-color: #1A2530;
$footer: #888888;

$frame: 20px;
@mixin placeholder {
	::-webkit-input-placeholder {
		@content
	}

	:-moz-placeholder {
		@content
	}

	::-moz-placeholder {
		@content
	}

	:-ms-input-placeholder {
		@content
	}
}
@mixin filter($filter) {
	-webkit-filter: $filter;
	filter: $filter;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.absolute {
	position: absolute;
}

.relative {
	position: relative;
}

.hide {
	display: none;
}

.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.flex {
	display: flex;
}

.full-height {
	min-height: 100vh;
}

body,
html {
	background-color: $bg-color;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	height: 100%;
	color: $text-color;
}

// FRAME
.fl, .fr, .ft, .fb {
	position: fixed;
	z-index: 100;
	background-color: $main;
}
.fl {
	height: 100%;
	width: $frame;
	top: 0;
	left: 0;
}
.fr {
	height: 100%;
	width: $frame;
	top: 0;
	right: 0;
}
.ft {
	height: $frame;
	width: 100%;
	top: 0;
	left: 0;
}
.fb {
	height: $frame;
	width: 100%;
	left: 0;
	bottom: 0;
}

// MENU
nav {
	background-color: rgba(0,0,0,0);
	transition: background-color 0.3s ease-in-out;
	.toggle {
		width: 30px;
		padding: 9px 0;
		margin-top: 4px;
		background: none;
		border: none;
		.bar {
			height: 2px;
			width: 100%;
			margin-bottom: 7px;
			display: block;
			background-color: rgba(255,255,255,0.8);
			transition: 0.3s;
		}
		&:focus {
			outline: none;
		}
	}
	.toggle-active {
		.bar:nth-child(1) {
			transform: rotate(135deg) translate(3px, -3px);
		}
		.bar:nth-child(2) {
			transform: rotate(45deg) translate(-3px, -3px);
		}
	}
	&.menu-bg {
		background-color: rgba(0, 0, 0, 0.8);
	}
	.col-md-8 .nav {
		font-size: 12px;
		letter-spacing: 5px;
	}
}

// HOME
.home {

}

// ABOUT
.about {
	a {
		text-decoration: underline;
		color: $text-color;
		transition: all 0.3s ease-in-out;
		&:hover {
			color: $main;
		}
	}
}

// PROJECTS
.projects {

}

// CONTACT
.contact {
	padding-top: 50px;
	margin-bottom: 20px;
	background-color: $bg-color;

	.container {
		padding: 0;
	}

	.contact-form {
		padding: 0;

		input[type='email'],
		input[type='text'],
		textarea {
			padding: 5px 10px;
			width: 100%;
			outline: none;
			resize: none;
			transition: border 0.3s ease;
		}

		textarea {
			height: 150px;
		}

		.g-recaptcha {
			margin-bottom: 20px;
		}

		#rc-imageselect,
		.g-recaptcha {
			transform: scale(0.86);
			transform-origin: 0 0;
		}

		input[type="submit"] {
			outline: none;
			transition: all 0.3s ease-in-out;

			&:before {
				font-family: FontAwesome;
				content: "\f0e0";
				font-size: 14px;
				height: 14px;
				width: 14px;
			}
		}

		.form-control {
			color: $black;
		}

		.form-control-feedback {
			font-size: 14px;
		}
		@include placeholder {
			color: $grey;
		}

		.countdown {
			font-size: 12px;
			color: $grey;
			margin-left: 5px;
		}
	}
}
//FOOTER
footer {}
// Small devices (landscape phones, 544px and up)
@media (min-width: 544px) {}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.navbar {
		padding-top: 0.05rem;
		padding-bottom: 0.05rem;
		.navbar-nav {
			.nav-item+.nav-item {
				margin-left: 2rem;
			}
			.nav-link {
				padding-top: 0;
				padding-bottom: 0;
				color: black;
			}
		}
	}
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
// noscript page
.noscript {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
